@import '/src/scss/variables.scss';

.profile {
  padding: 20px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  &__title {
    font-weight: 900;
    font-size: 26px;
    color: $text;
  }
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 15px;
    padding-top: 15px;

    :first-child {
      font-size: 2rem;
      font-weight: 600;
    }
    p:nth-child(2) {
      font-weight: 400;
    }
  }
}
.ordered__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border: 1px solid #cac6c6;
  width: 210px;
  border-radius: 40px;
  padding: 20px;
  margin: 20px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 252px;
  height: 276px;
  &:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  &__itemName {
    font-weight: 600;
    padding-top: 10px;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: transform 0.2s ease-in-out;
    }

    &:hover img {
      transform: scale(1.15);
    }
  }
  svg {
    width: 33px;
    height: 33px;
    color: $text;
  }

  &__price {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    position: relative;
    span {
      font-weight: 800;
    }
  }
}
