@import '/src/scss/variables.scss';

.header__logoTitle {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
  color: inherit;

  .title {
    span {
      font-weight: 800;
    }

    p {
      color: $text;
    }
  }
}
